* {
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    height: 10em;
    width: 100%;
    background: lightgrey;

    img {
        height: 4em;
        width: 4em;
    }
}

.header__menu {
    display: flex;

&__item {
        font-size: 16px;
        line-height: 28px;
        color: darkgrey;
        font-weight: 300;
        font-family: "Roboto Condensed";
        text-decoration: none;
        margin: 0.5em;

    }
}