$main_font: "Roboto Condensed";

html {
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

body {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: $main_font;
    font-size: 3em;
    padding: 1em 0em;
}

h2 {
    font-family: $main_font;
    font-size: 2em;
    padding-bottom: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 9em;
    width: 100%;
    background: lightgrey;
    position: sticky;
    margin: 0;
    top: 0;


    img {
        height: 8em;
        width: 8em;
        margin: 0.5em 0.5em;
    }
}

.header__menu {
    display: flex;

    &__item {
        font-size: 16px;
        line-height: 28px;
        color: darkgrey;
        font-weight: 300;
        font-family: $main_font;
        text-decoration: none;
        margin: 1em;

    }
}

.info {
    display: flex;
    margin: 1em 0em;
}

img {
    width: 50%;
}

.info {
    display: flex;
    justify-content: flex-start;
    font-family: Roboto;

    &__block {
        margin-right: 5em;
        font-family: $main_font;

        >p {
            font-size: 1em;
        }


        .block_font-bigger {
            font-size: 2em;
            margin-bottom: 1em;
        }
    }
}

// media for responsive layout

// @media (min-width: 480px) {

//     body {
//         display: flex;
//         flex-direction: column;
//     }

//     .info {
//         display: flex;
//         flex-direction: column;
//         width: 100%;

//     }
// }


img {
    width: 100%;
}


.section2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

    // .section2__box {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     width: 50%;
    //     border: 3px soli green
    

    // ul {
    //     list-style: none
    // }
// }
        .section2__espreso {
            display: flex;
            flex-direction: column;
            width: 50%;
           
        }
    

        .section2__rows {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
        
            
            &_items {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
        }
        
.mapouter {
    padding-left: auto;
    padding-right: auto;
    margin-bottom: -2em;
}


.footer {
    display: flex;
    width: 100%;
    padding-top: 2em;

    flex-direction: column;
    justify-items: center;

    background: rgb(67, 59, 74);

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-content: center;

        color: rgb(34, 134, 248);
    }

    &__head_current {
        color: bisque;
    }

    .footer-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        color: bisque;
        align-items: center;
    }

    a {
        padding-top: 2em;
        color: rgb(17, 105, 120);
    }

}
